<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>

      </ion-back-button>

    </ion-buttons>
    
    <ion-avatar *ngIf="friendPhoto" slot="start" class="small-avatar">
      <img [src]="friendPhoto" alt="Foto de perfil">
    </ion-avatar>
    
    <ion-title>{{ friendName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-container">
  <div class="messages-container">
    <div *ngFor="let msg of messages" 
         [ngClass]="{'my-message': msg.senderId === currentUserId, 'friend-message': msg.senderId !== currentUserId}">
      <div class="message-wrapper">
        <ion-avatar *ngIf="msg.senderId !== currentUserId" class="small-message-avatar">
          <img [src]="friendPhoto" alt="Foto de perfil">
        </ion-avatar>

        <!-- Mueve el botón fuera de la burbuja del mensaje -->
        <ion-button *ngIf="msg.senderId === currentUserId" 
                    fill="clear" 
                    (click)="deleteMessage(msg.id)"
                    class="delete-button">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>

        <div class="message-bubble">
          <p class="message-content">{{ msg.content }}</p>
          <!--<p class="message-date">{{ msg.createdAt | date:'shortTime' }}</p>-->
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-item class="message-input">
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe tu mensaje..." class="input-box"></ion-input>
      <ion-button (click)="sendMessage()" class="send-button" (click)="onBackClick()">
        <ion-icon class="icon-button" name="send-outline"></ion-icon>
      </ion-button>
      
    </ion-item>
  </ion-toolbar>
</ion-footer>
