.my-message {
  display: flex;
  justify-content: flex-end;
}

.friend-message {
  display: flex;
  justify-content: flex-start;
}

.message-bubble {
  max-width: 75%;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;  /* Para contener el botón en relación con la burbuja */
}

.my-message .message-bubble {
  background-color: #a8dadc;  /* Nuevo color */
  color: white;
  border-bottom-right-radius: 0;
}

.friend-message .message-bubble {
  background-color: #e5e5ea;
  color: black;
  border-bottom-left-radius: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.small-avatar {
  width: 40px;
  height: auto;
}

.message-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
  position: relative;  /* Para posicionar el botón en relación con la burbuja */
}

.friend-message .message-wrapper {
  flex-direction: row;
}

.my-message .message-wrapper {
  justify-content: flex-end;
}

/* Tamaño pequeño para el avatar que aparece al lado de los mensajes del amigo */
.small-message-avatar {
  width: 25px;
  height: auto;
}

/* Estilos adicionales para mensajes propios */
.my-message .message-bubble {
  background: #173ee9;  /* Nuevo color */
}

/* Ajustes para el botón de eliminar, centrado verticalmente */
.delete-button {
  position: relative; 
  left: 2%;  /* Ajusta para que se mantenga al lado izquierdo */
  background: transparent;
  padding: 0;
  z-index: 10;  /* Asegura que el botón esté por encima de la burbuja */
}

/* Para que el botón se quede dentro de los límites y no se salga de la pantalla */
.message-wrapper {
  max-width: 90%;  /* Asegura que los mensajes no se salgan de la pantalla */
}

.message-bubble {
  background: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 8px;
  max-width: 70%;
}

/* Aseguramos que el contenedor del mensaje sea flexible */
.my-message .message-bubble,
.friend-message .message-bubble {
  display: inline-block;
  position: relative;
}

