<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="" routerLink="/settings">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">changePassword</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card-content>
  
</ion-card-content>
  <ion-card>
    <ion-card-content>
      <div class="container">
        <ion-item>
          <ion-input type="password" fill="" label="Contraseña actual" labelPlacement="floating" [(ngModel)]="currentPassword"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="container">
    <ion-item>
      <ion-input type="password" fill="" label="Contraseña nueva" labelPlacement="floating" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" fill="" label="Repetir contraseña nueva" labelPlacement="floating" [(ngModel)]="confirmNewPassword"></ion-input>
    </ion-item>
    </div>
      </ion-card-content>
    </ion-card>
  <ion-card><ion-button expand="full" color="success" (click)="changePassword()">Cambiar contraseña</ion-button></ion-card>
</ion-content>

