<app-menu></app-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="" routerLink="/home">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Perfil de {{ user?.user | capitalize }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>{{ user.user | capitalize }}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align: center;">
      <!-- Contenedor para centrar la imagen y el texto -->
      <div style=" display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <p>Foto de Perfil:</p>
        <ion-avatar  style="width: 150px; height: 150px;">
          <img *ngIf="user.person.photo" [src]="user.person.photo" alt="Foto de Perfil" class="profile-img">
        </ion-avatar>
      </div>
      
      <hr>
      <p>Nombre de Usuario: {{ user.user }}</p><hr>
      <p>Correo Electrónico: {{ user.email }}</p><hr>
      <p>Nombres: {{ user.person.name }}</p><hr>
      <p>Apellidos: {{ user.person.lastName }}</p><hr>
      <p>País: {{ user.person.adress }}</p><hr>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-button *ngIf="user" expand="full" color="success" (click)="goToEditPage()">
      <span  style="font-size: 100%; margin-right: 1%;" > Editar Perfil</span>
      <span><ion-icon name="create-outline" size="large"></ion-icon></span>
    </ion-button>
  </ion-card>
    

</ion-content>
