<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="" routerLink="/home">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>  
    <ion-item routerLink="/change-password">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>
        <p>Cambiar contraseña</p>
      </ion-label>
    </ion-item>

  </ion-card>








</ion-content>
